# Supabase Configuration
VITE_SUPABASE_URL=https://lpcwfyvlbytpgydpmirx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_IwlcYHYunVmv3gyl_kDITw_II31rY_8
VITE_SUPABASE_PROJECT_ID=lpcwfyvlbytpgydpmirx
